body {
	margin:0;
	padding:0;
}

/* Menu tout en haut */
div#header {
	padding:5px 8px;
	margin:auto;
	background-color:#222;
	border:1px solid;
	color:white;
	font: 12px sans-serif;
}

div#header a {
	text-decoration:none;
	color:white;
}

div#loading {
	display:none;
	float:right;
}

/* Helper found on the side */
div#helper {
	display:none;
	position:fixed;
	left:0px;
	top:20%;
}

div#helperAccordion {
	width:200px;
}

.boxRace
{
	border:1px solid #ccc;
	width:100%;
	height:30px;
	background-color:#ddd;
	margin:5px 0px;
	padding:5px;
}

/* Fiche de personnage */
div#character {
	padding:5px 20px;
	background-color:#eee;
	max-width:800px;
	margin:auto;
}

.editablePasMod {
	font-style: italic;
	color: #999999;
}

.editable {
	font-style: normal;
	color: #000000;
}

.editable:hover, .editablePasMod:hover{
	background-color:#ffc;
}

/* Properties for all the tables, incl. cells */
.table {
	border-width: 0px;
}

.nameCell {
	width:8em;
}

.valueCell {
	width:4em;
}

.right {
	float:right;
}

/* Fullscreen */

.fullscreen {
	width:960px;
	height:768px;
	margin:auto;
	position:absolute;
	background-color:#36393D;
	
	border:1px solid #ccc;
	margin:10px;
	padding:10px;
}

.rightPanel {
	float:left;
	width:200px;
}

.selectRace {
	float:left;
	border:1px solid #ccc;
	width:170px;
	background-color:#ddd;
	padding:8px;
	margin:4px;
}

/* Changes to make when a selectable is selected */
.resize
{
	background-color:#ffffcc !important;
}
.resize_border
{
	border:1px solid #ff0000;
}

.mainPanel {
	margin-left:210px;
	position:relative;
	padding:8px;
}

	.descRace {
		display:none;
	}