body {
	margin:0;
	padding:0;
}

/* Menu tout en haut */
div#header {
	padding:5px 8px;
	margin:auto;
	background-color:#222;
	border:thin 1px solid;
	color:white;
	font: 12px sans-serif;
}

div#header a {
	text-decoration:none;
	color:white;
}

div#loading {
	display:none;
	float:right;
}

/* Helper found on the side */
div#helper {
	display:none;
	position:fixed;
	left:0px;
	top:20%;
}

/* Fiche de personnage */
div#character {
	padding:5px 20px;
	background-color:#eee;
	max-width:800px;
	margin:auto;
}

/* Properties for all the tables, incl. cells */
.table {
	border-width: 0px;
}

.nameCell {
	width:8em;
}

.valueCell {
	width:4em;
}

.box
{
	border:1px solid #ccc;
	width:400px;
	height:90px;
	background-color:#eee;
	margin:10px;
	padding:10px;
}
.resize
{
	background-color:#ffffcc !important;
}
.resize_border
{
	border:1px solid #ff0000;
}

.right {
	float:right;
}