---
:installed: 2008-07-06 13:35:15.895016 -07:00
:plugins: []

:service: php
:service_version: 1.0.4
:websdk: 2.1.2
:widgets: 
- :version: "1.0"
  :name: app:box
- :version: "1.0"
  :name: app:button
- :version: 1.0.2
  :name: app:calendar
- :version: "1.1"
  :name: app:chart
- :version: 1.0.1
  :name: app:content
- :version: 1.2.1
  :name: app:datatable
- :version: 1.0.1
  :name: app:editinplace
- :version: "1.0"
  :name: app:folder
- :version: 1.0.1
  :name: app:http
- :version: "1.0"
  :name: app:if
- :version: 1.0.3
  :name: app:iterator
- :version: 1.0.1
  :name: app:message
- :version: 1.0.1
  :name: app:modaldialog
- :version: 1.0.1
  :name: app:pagination
- :version: 1.0.2
  :name: app:panel
- :version: "1.0"
  :name: app:script
- :version: 1.0.1
  :name: app:search
- :version: "1.0"
  :name: app:statemachine
- :version: "1.0"
  :name: app:tooltip
- :version: "1.0"
  :name: app:upload
- :version: "1.0"
  :name: app:validation
